#row-2 {
  width: 100%;
  margin: auto;
  gap: 28px;
}

#r2left {
  justify-content: start;
  display: flex;
  flex-direction: column;
}

#r2left a {
  text-decoration: none;
  color: black;
}

#r2right {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-top: 30px;
}

#r2left ul {
  list-style-type: none;

  height: fit-content;

  width: 340px;
  align-self: flex-end;
  margin-top: 30px;
  border: solid 1px orange;
  padding: 0px;
}

#r2left li {
  padding: 10px 12px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: white;
  border: solid 0.5px rgb(200, 200, 200);
}

#r2left li:hover {
  background-color: rgb(247, 181, 59);
}
#r2left li:hover a {
  color: white;
}

#r2left li::selection {
  background-color: rgb(247, 181, 59);
}

.entries {
  background-color: white;
  padding: 12px;

  padding-bottom: 3px;
  padding-top: 14px;
  width: 97%;
  align-items: center;
  font-size: 14px;
}

.entries p {
  line-height: 18px;
}

.entries a {
  font-size: 14px;
}

.entries h4 {
  margin-top: 5px;
}

#r1 {
  justify-content: space-between;
  display: flex;
  padding: 4px 10px;
  width: 97.5%;
}

#r1 p {
  display: inline;
  margin: 0px;
  height: fit-content;
}

#wifi-image {
  width: 35px;
  height: fit-content;
}

.files {
  display: flex;
  justify-content: start;
}

.fa-file-pdf {
  color: red;
}

.entries_images {
  height: 106px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
