#row-1 {
  background-color: white;
  padding-bottom: 0px;
  padding-top: 0px;

  width: 100%;
  margin: auto;

  height: 128px;

  flex-direction: column;
  justify-content: start;
  gap: 20px;
  position: relative;
}

#r1left {
  display: flex;
  gap: 26px;

  align-items: center;
  position: absolute;
  top: 28px;
}

#r1right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#um-logo {
  width: 110px;
  height: fit-content;
}

#feri-logo {
  width: 180px;
  height: fit-content;
}

#ul-top {
  list-style-type: none;
  background-color: rgb(50, 103, 124);
  height: fit-content;
  padding: 8px 5px;
  width: fit-content;

  margin: 0;
  align-self: flex-end;
}

#ul-top li {
  display: inline;
  padding: 5px 7px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  color: white;
  width: fit-content;
}

#ul-bottom {
  list-style-type: none;

  height: fit-content;
  padding: 5px 5px;
  padding-right: 0px;

  border-left: solid 0.5px orange;
  display: block;
  align-self: flex-end;
  width: fit-content;
}

#ul-bottom li {
  display: inline;
  padding: 10px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: cadetblue;
  border-right: solid 0.5px orange;
  font-weight: 300px;

  margin-right: 0px;
  margin-left: 0px;
}
#ul-bottom li :hover {
  background-color: brown;
}

#row-1 .vertical-line {
  height: 75px;
}
#fa-bars {
  color: white;
  font-size: 28px;
  display: none;
}

#feri-logo-small {
  width: 73px;
  height: auto;
  border: solid 1px white;
  display: none;
}
