#row-1 {
  background-color: white;
  background-color: pink;
  padding-bottom: 15px;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  height: 114px;
}

#r1left {
  display: flex;
  gap: 30px;

  align-items: center;
}

#r1right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#um-logo {
  width: 110px;
  height: fit-content;
}

#feri-logo {
  width: 170px;
  height: fit-content;
}

#ul-top {
  list-style-type: none;
  background-color: rgb(50, 103, 124);
  height: fit-content;
  padding: 8px 5px;
  width: fit-content;
  align-self: flex-end;
  margin-top: 0px;
}

#ul-top li {
  display: inline;
  padding: 5px 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  color: white;
}

#ul-bottom {
  list-style-type: none;

  height: fit-content;
  padding: 5px 5px;
  padding-right: 0px;

  border-left: solid 0.5px orange;
}

#ul-bottom li {
  display: inline;
  padding: 10px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: cadetblue;
  border-right: solid 0.5px orange;
  font-weight: 300px;

  margin-right: 0px;
  margin-left: 0px;
}
#ul-bottom li :hover {
  background-color: brown;
}

#row-1 .vertical-line {
  height: 75p;
}
